- hosts: localhost
  connection: local
  tasks:
    - name: Установка пакетов
      become: true
      apt:
        pkg:
          - youtube-dl
          - openjdk-8-jre
          - feh
          - gthumb
    - import_tasks: tasks/gtk-bookmarks.yml
    - import_tasks: tasks/dmenu.yml
